$background-color: rgb(241, 241, 241);

body {
  background-color: $background-color;
}

.brand-logo {
  font-size: 2rem !important;
}

.hidden {
  display: none !important;
}

.collection {
  
  .collection-header {
    .title {
      line-height: 37px;
    }
  }
  
  .collection-item {
    transition: background-color .25s;
    cursor: pointer;
    color:darken(#26a69a, 15%);
    &:hover {
      background-color: #ddd;
    }
    
    p {
      font-size: 80%;
      margin:0;
      padding:0;
      
      span {
        padding-right: 10px;
      }
    }

    .material-icons {
      color: grey;
    }

    &.favorite {
      .material-icons {
        color: #26a69a;
      }
    }

    &.visited {
      color: grey;
    }

    &::after {
      clear: both;
      content: '';
      display: block;
    }
  }
}